.container {
  text-align: center;
}

.body {
  background-color: #1c1c1c;
}

.body .calc {
  width: 500px;
  height: 550px;
  margin: 70px auto 15px auto;
  border: 1px solid #363636;
  box-sizing: content-box;
}

.body .calc .info {
  height: 52px;
  color: #666666;
  text-align: right;
  line-height: 50px;
  padding-right: 20px;
  box-sizing: border-box;
  border: 1px solid #363636;
  cursor: default;
  overflow: auto;
}

.body .calc .screen {
  min-height: 102px;
  border: 1px solid #363636;
  color: white;
  text-align: right;
  line-height: 100px;
  padding-right: 20px;
  font-size: 35px;
  box-sizing: border-box;
  cursor: default;
  overflow: auto;
}

.body .calc .buttons {
  display: flex;
  box-sizing: border-box;
  width: 500px;
}

.body .calc .buttons .numbers {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  box-sizing: border-box;
}

.body .calc .buttons .numbers .number_buttons {
  color: white;
  width: 100px;
  height: 100px;
  border: 1px solid #363636;
  text-align: center;
  line-height: 100px;
  background-color: #141414;
  box-sizing: border-box;
  margin: 0px;
  font-size: 30px;
}

.body .calc .buttons .numbers .number_buttons:hover {
  background-color: #363636;
  cursor: pointer;
}

.body .calc .buttons .operators {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  box-sizing: border-box;
}

.body .calc .buttons .operators .operator {
  color: white;
  width: 100px;
  height: 100px;
  border: 1px solid #363636;
  text-align: center;
  line-height: 100px;
  background-color: #1c1c1c;
  box-sizing: border-box;
  margin: 0px;
  font-size: 30px;
}

.body .calc .buttons .operators .operator:hover {
  background-color: #363636;
  cursor: pointer;
}

.body .calc .buttons .operators .calculate {
  color: white;
  width: 200px;
  height: 100px;
  border: 1px solid #363636;
  text-align: center;
  line-height: 100px;
  background-color: #000838;
  box-sizing: border-box;
  margin: 0px;
  font-size: 30px;
}

.body .calc .buttons .operators .calculate:hover {
  background-color: #000857;
  cursor: pointer;
}

.body .trash {
  color: white;
  font-size: 25px;
  left: 940px;
}

.body .trash:hover {
  transform: scale(1.2);
  color: red;
}

.body .journal {
  margin: 0 auto;
  width: 500px;
  height: 200px;
  color: white;
  padding: 15px;
  font-size: 20px;
  text-align: right;
  white-space: pre-line;
  overflow: auto;
}
