html {
  width: 100vw;
  overflow-x: hidden;
}

.body {
  background-color: #0b0a21;
  color: whitesmoke;
  font-size: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .input_textarea {
  width: 600px;
  height: 160px;
  margin-top: 50px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  padding: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .input_textarea:focus {
  -webkit-box-shadow: 0 0 3pt 2pt #4139bf;
          box-shadow: 0 0 3pt 2pt #4139bf;
  outline: none;
}

.container .keyword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .keyword .keyword-wrapper_main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 990px;
  position: relative;
  margin-top: 70px;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line {
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .numbers_div {
  width: 58px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .numbers_div:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .numbers_div:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .backspace {
  width: 118px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .backspace:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_top_line .numbers_container .backspace:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 174px;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_left .special_buttons {
  width: 118px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_left .special_buttons:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_left .special_buttons:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 696px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_mid .keywords_div {
  width: 58px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_mid .keywords_div:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_mid .keywords_div:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .right_shift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 173px;
  height: 58px;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  position: relative;
  right: 116px;
  top: -1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .enter {
  width: 58px;
  height: 117px;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .enter:hover,
.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .right_shift:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .enter:active,
.container .keyword .keyword-wrapper_main-buttons .keyword_middle_line .middle_right .right_shift:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_bot_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_bot_line .bottom_line_buttons {
  height: 58px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_bot_line .bottom_line_buttons:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_bot_line .bottom_line_buttons:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_main-buttons .keyword_bot_line #space {
  height: 58px;
  width: 465px;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keyword .keyword-wrapper_special-buttons {
  margin-top: 70px;
}

.container .keyword .keyword-wrapper_special-buttons .special-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 230px;
  font-size: 1rem;
}

.container .keyword .keyword-wrapper_special-buttons .special-buttons .buttons_cursor_control {
  height: 58px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.container .keyword .keyword-wrapper_special-buttons .special-buttons .buttons_cursor_control:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_special-buttons .special-buttons .buttons_cursor_control:active {
  background-color: #4139bf;
}

.container .keyword .keyword-wrapper_special-buttons .arrow-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 230px;
  font-size: 1rem;
  margin-top: 58px;
}

.container .keyword .keyword-wrapper_special-buttons .arrow-buttons .buttons_cursor_control {
  height: 58px;
  width: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #1a31a1;
  border-radius: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.container .keyword .keyword-wrapper_special-buttons .arrow-buttons .arrow_up {
  margin: 0 58px;
}

.container .keyword .keyword-wrapper_special-buttons .arrow-buttons .buttons-cursor-control:hover {
  background-color: #342971;
}

.container .keyword .keyword-wrapper_special-buttons .arrow-buttons .buttons-cursor-control:active {
  background-color: #4139bf;
}

.active,
.active:hover {
  background-color: #4139bf !important;
}

.focused {
  -webkit-box-shadow: 0 0 3pt 2pt #4139bf;
          box-shadow: 0 0 3pt 2pt #4139bf;
  outline: none;
}

input:focus {
  -webkit-box-shadow: 0 0 3pt 2pt #4139bf;
          box-shadow: 0 0 3pt 2pt #4139bf;
  outline: none;
}
