html {
  width: 100vw;
  overflow-x: hidden;
}

.body {
  background-color: #b0c4de;
}

.container {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.container .container_content {
  text-align: center;
}

.container .container_content .infoAboutSection, .container .container_content #usersPosts {
  padding-top: 40px;
  font-size: 1.5rem;
  margin-bottom: 0px;
}

.container .container_content .content_buttonRequest {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container .container_content .buttonRequest {
  background-color: white;
}

.container .container_content .content_users {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container .container_content .users {
  min-width: 200px;
  min-height: 50px;
  background-color: white;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin: 30px 20px;
}

.container .container_content .users:hover {
  background-color: #e7d49a;
}

.container .container_content .users:focus {
  background-color: #e7d49a;
  outline: none;
}

.container .container_content .users:active {
  transform: scale(1.05);
}

.container .container_content .content_table {
  width: 600px;
  margin: 20px auto;
}

.container .container_content .content_table table tr > th:nth-child(odd) {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  border: 2px solid black;
}

.container .container_content .content_table table tr > th:nth-child(even) {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  border: 2px solid black;
}

.container .container_content .buttonShow {
  width: 100%;
  text-align: center;
}

.container .container_content .content_posts_info {
  text-align: center;
}

.container .container_content .content_shownPosts {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.container .container_content .content_shownPosts .content_post {
  border: 1px solid black;
  margin: 30px 20px;
  width: 500px;
  min-height: 255px;
  padding: 20px;
}

.container .container_content .content_shownPosts .content_post h1 {
  font-size: 2rem;
}

.container .container_content .hidden {
  visibility: hidden;
}
