html {
  width: 100vw;
  overflow-x: hidden;
}

.body {
  background-color: #b8b8b8;
}

.container {
  width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.container .header {
  width: 100%;
  height: 50px;
  position: static;
  color: whitesmoke;
  background-color: #4848ff;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
}

.container .header .div_parent {
  position: absolute;
  color: whitesmoke;
  top: 50px;
}

.container .header .div_parent .div_children {
  background-color: #4848ff;
  width: 100px;
  height: 40px;
  line-height: 40px;
}

.container .header .div_parent .div_children:hover {
  background-color: #2b2bb8;
}

.container .header .div_header {
  width: 100px;
  height: 50px;
  background-color: #4848ff;
  cursor: pointer;
  line-height: 50px;
}

.container .container_content {
  text-align: center;
}

.container .container_content .header {
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: red;
}

.container .container_content .div_task-1 {
  margin-top: 50px;
  width: 100%;
}

.container .container_content .div_task-1 .content_task-1 {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light {
  height: 100px;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 10px;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .red_light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: grey;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .red_light_on {
  background-color: red;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .yellow_light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .yellow_light_on {
  background-color: yellow;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .green_light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: grey;
}

.container .container_content .div_task-1 .content_task-1 .traffic_light .green_light_on {
  background-color: green;
}

.container .container_content .div_task-1 .content_task-1 .button-next {
  height: 50px;
  width: 100px;
}

.container .container_content .div_task-2 {
  margin-top: 50px;
  width: 100%;
}

.container .container_content .div_task-2 .content_task-2 {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

.container .container_content .div_task-2 .content_task-2 .shineBackground {
  background-color: hotpink;
}

.container .container_content .div_task-2 .content_task-2 > ol > li {
  cursor: pointer;
}

.container .container_content .div_task-3 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .container_content .div_task-3 .task-3_button {
  width: 100px;
}

.container .container_content .div_task-3 .button-left {
  position: relative;
  left: -600px;
}

.container .container_content .div_task-3 .button-right {
  position: relative;
  right: -600px;
}

.container .container_content .div_task-4 {
  margin-top: 50px;
}

.container .container_content .div_task-4 .random_number {
  padding: 0 0 30px 0;
  font-size: 2rem;
}

.container .container_content .div_task-5 {
  margin-top: 70px;
}

.container .container_content .div_task-5 .div_mouseInside {
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 2rem;
}

.container .container_content .div_task-5 .div_mouseInside .coordinates {
  padding-top: 30px;
}

.container .container_content .div_task-6 {
  margin-top: 70px;
}

.container .container_content .div_task-6 button {
  margin-bottom: 30px;
}

.container .container_content .div_task-7 {
  margin-top: 70px;
}

.container .container_content .div_task-7 button {
  margin-bottom: 30px;
}

.container .container_content .content_task-7 {
  display: flex;
}

.container .container_content .content_task-7 .buttons-task-7 {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.container .container_content .content_task-7 .buttons-task-7 .button-background {
  background-color: khaki;
}

.container .container_content .content_task-7 .div-info-task-7 {
  padding: 0 30px;
}

.container .container_content .display-invisible {
  display: none;
}

.container .container_content .div_task-8 {
  margin-top: 50px;
}

.container .container_content .div_task-8 .heading_and_button {
  display: flex;
  justify-content: space-around;
}

.container .container_content .div_task-8 .button_remove {
  height: 30px;
}

.container .container_content .div_task-9 {
  margin-top: 50px;
}

.container .container_content .div_task-9 .content_task-9 {
  width: 300px;
  margin: 0 auto;
}

.container .container_content .div_task-9 .content_task-9 .div_input {
  margin: 20px 0;
}

.container .container_content .div_task-10 {
  margin-top: 50px;
}

.container .container_content .div_task-10 table {
  margin: 0 auto;
}

.container .container_content .div_task-10 table th {
  width: 100px;
  cursor: pointer;
}

.container .container_content .div_task-10 table .td_hover {
  background-color: lawngreen;
}

.container .container_content .div_task-11 {
  margin-top: 50px;
}

.container .container_content .div_task-11 .button_up {
  position: fixed;
  width: 100px;
  height: 30px;
  right: 100px;
  bottom: 60px;
}

.container .container_content .div_task-12 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container .container_content .div_task-12 .content_button_like {
  display: flex;
  width: 120px;
  margin: 0 auto;
  color: whitesmoke;
  cursor: pointer;
}

.container .container_content .div_task-12 .content_button_like .button_icon_like {
  width: 30px;
  height: 25px;
  background-color: #4848ff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container .container_content .div_task-12 .content_button_like .button_like {
  width: 45px;
  height: 25px;
  background-color: #4848ff;
}

.container .container_content .div_task-12 .content_button_like .button_like_number {
  width: 45px;
  height: 25px;
  background-color: #4848ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .container_content .div_task-12 .button_like_transform {
  transform: scale(1.2);
  transition: scale 1s ease-in;
}

.container .container_content .div_task-13 {
  margin: 50px 0 100px 0;
  width: 100%;
  height: 300px;
}

.container .container_content .div_task-13 .move_div {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.container .container_content .div_task-13 .move_div .content_move_div {
  border: 1px solid grey;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
}

.container .container_content .div_task-13 .move_div .content_move_div .triangle_move {
  position: absolute;
  border: 13px solid red;
  top: 173px;
  left: 473px;
  cursor: move;
}

.container .container_content .div_task-13 .resize_div {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.container .container_content .div_task-13 .resize_div .content_resize_div {
  border: 1px solid grey;
  width: 500px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
}

.container .container_content .div_task-13 .resize_div .content_resize_div .triangle_resize {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 13px solid blueviolet;
  border-left: 13px solid transparent;
  top: 183px;
  left: 482px;
  cursor: nwse-resize;
}

.tooltip2 {
  position: fixed;
  background-color: hotpink;
  padding: 3px 10px;
}

.hidden {
  visibility: hidden;
}

.remove-from-DOM {
  display: none;
}
