html {
    width: 100vw;
    overflow-x: hidden;
}

.body {
    background-color: #b8b8b8;
}

.container {
    width: 1400px;
    margin: 0 auto;
    align-items: center;

    .header {
        width: 100%;
        height: 50px;
        position: static;
        color: whitesmoke;
        background-color: rgb(72, 72, 255);
        display: flex;
        justify-content: left;
        text-align: center;
        align-items: center;

        .div_parent {
            position: absolute;
            color: whitesmoke;
            top: 50px;

            .div_children {
                background-color: rgb(72, 72, 255);
                width: 100px;
                height: 40px;
                line-height: 40px;
            }

            .div_children:hover {
                background-color: rgb(43, 43, 184);
            }
        }

        .div_header {
            width: 100px;
            height: 50px;
            background-color: rgb(72, 72, 255);
            cursor: pointer;
            line-height: 50px;
        }
    }
    .container_content {
        text-align: center;

        .header {
            width: 100%;
            height: 50px;
            position: fixed;
            background-color: red;
        }

        .div_task-1 {
            margin-top: 50px;
            width: 100%;

            .content_task-1 {
                width: 400px;
                margin: 0 auto;
                display: flex;
                align-items: center;

                .traffic_light {
                    height: 100px;
                    width: 200px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid grey;
                    border-radius: 10px;

                    .red_light {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-left: 20px;
                        background-color: grey;
                    }

                    .red_light_on {
                        background-color: red;
                    }

                    .yellow_light {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: grey;
                    }

                    .yellow_light_on {
                        background-color: yellow;
                    }

                    .green_light {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        margin-right: 20px;
                        background-color: grey;
                    }

                    .green_light_on {
                        background-color: green;
                    }
                }

                .button-next {
                    height: 50px;
                    width: 100px;
                }
            }
        }

        .div_task-2 {
            margin-top: 50px;
            width: 100%;

            .content_task-2 {
                width: 800px;
                margin: 0 auto;
                text-align: left;

                .shineBackground {
                    background-color: hotpink;
                }
            }

            .content_task-2 > ol > li {
                cursor: pointer;
            }
        }

        .div_task-3 {
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .task-3_button {
                width: 100px;
            }

            .button-left {
                position: relative;
                left: -600px;
            }

            .button-right {
                position: relative;
                right: -600px;
            }
        }

        .div_task-4 {
            margin-top: 50px;

            .random_number {
                padding: 0 0 30px 0;
                font-size: 2rem;
            }
        }

        .div_task-5 {
            margin-top: 70px;

            .div_mouseInside {
                width: 100%;
                height: 300px;
                border: 1px solid grey;
                border-radius: 10px;
                font-size: 2rem;

                .coordinates {
                    padding-top: 30px;
                }
            }
        }

        .div_task-6 {
            margin-top: 70px;

            button {
                margin-bottom: 30px;
            }
        }

        .div_task-7 {
            margin-top: 70px;

            button {
                margin-bottom: 30px;
            }
        }

        .content_task-7 {
            display: flex;

            .buttons-task-7 {
                display: flex;
                flex-direction: column;
                width: 80px;

                .button-background {
                    background-color: khaki;
                }
            }

            .div-info-task-7 {
                padding: 0 30px;
            }
        }

        .display-invisible {
            display: none;
        }

        .div_task-8 {
            margin-top: 50px;

            .heading_and_button {
                display: flex;
                justify-content: space-around;
            }

            .button_remove {
                height: 30px;
            }
        }

        .div_task-9 {
            margin-top: 50px;

            .content_task-9 {
                width: 300px;
                margin: 0 auto;

                .div_input {
                    margin: 20px 0;
                }
            }
        }
        .div_task-10 {
            margin-top: 50px;

            table {
                margin: 0 auto;

                th {
                    width: 100px;
                    cursor: pointer;
                }

                .td_hover {
                    background-color: lawngreen;
                }
            }
        }

        .div_task-11 {
            margin-top: 50px;
        }

        .div_task-12 {
            margin-top: 50px;
            margin-bottom: 50px;

            .content_button_like {
                display: flex;
                justify-content: center;
                color: whitesmoke;
                cursor: pointer;

                .button_icon_like {
                    width: 30px;
                    height: 25px;
                    background-color: rgb(72, 72, 255);
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                .button_like {
                    width: 45px;
                    height: 25px;
                    background-color: rgb(72, 72, 255);
                }
                .button_like_number {
                    width: 45px;
                    height: 25px;
                    background-color: rgb(72, 72, 255);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .button_like_transform {
                transform: scale(1.2);
                transition: scale 1s ease-in;
            }
        }

        .div_task-13 {
            margin: 50px 0 100px 0;

            .content_resize_div {
                border: 1px solid grey;
                width: 500px;
                height: 200px;
                margin: 0 auto;
                position: relative;

                .triangle {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 13px solid red;
                    border-left: 13px solid transparent;
                    top: 182px;
                    left: 481px;
                    cursor: nwse-resize;
                }
            }
        }
    }
}

.tooltip2 {
    position: fixed;
    background-color: hotpink;
    padding: 3px 10px;
}

.hidden {
    visibility: hidden;
}

.remove-from-DOM {
    display: none;
}
